<header class="z-index-fixed header-absolute-top pt-lg-1 header-transparent header-sticky" style="background: rgb(13, 13, 13) !important; --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor:#0a0b0b;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor="">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
          <!--Logo-->
          <a class="navbar-brand" routerLink="">
              <img decoding="async" loading="lazy" title="Bryan Herrera Logo" width="656" height="749" src="assets/n_Assets/iconos/lup.png" class="img-fluid width-3x d-block" alt="Bryan Herrera Logo">
          </a>
          <div class="d-flex align-items-center navbar-no-collapse-items py-1 order-last">
              <div class="nav-item ms-3 ms-lg-4">
                  <a routerLink="" aria-label="Home" class="link-hover-underline text-white ">
                      <span>Home</span>
                  </a>
              </div>
              <div class="nav-item ms-3 ms-lg-4">
                <a href="https://bryan-herrera.netlify.app" aria-label="GitHub" target="_blank" rel="noreferrer noopener" class="link-hover-underline text-white ">
                  <span>Website principal</span>
                </a>
              </div>
          </div>
      </div>
  </nav>
</header>
