<header class="z-index-fixed header-absolute-top pt-lg-1 header-transparent header-sticky" style="background: rgb(13, 13, 13) !important; --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor:#0a0b0b;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor="">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
          <!--Logo-->
          <a class="navbar-brand" href="index.html">
              <img decoding="async" loading="lazy" title="Bryan Herrera Logo" width="656" height="749" src="assets/n_Assets/iconos/lup.png" class="img-fluid width-3x d-block" alt="Bryan Herrera Logo">
          </a>
          <div class="d-flex align-items-center navbar-no-collapse-items py-1 order-last">
              <!-- <div class="nav-item fullscreen-toggler order-last ms-4">
                  <a href="#offcanvas-fullscreen" class="nav-link width-3x d-block" data-bs-toggle="offcanvas"
                      data-bs-target="#offcanvas-fullscreen">
                      <div class="width-2x mb-1 border-bottom border-white border-2"></div>
                      <div class="width-2x ms-auto border-bottom border-white border-2"></div>
                      <span class="d-none">Open Canvas</span>
                  </a>

              </div> -->
              <div class="nav-item ms-3 ms-lg-4">

                  <a href="https://github.com/Bryan-Herrera-DEV" aria-label="GitHub" target="_blank" rel="noreferrer noopener" class="btn btn-outline-light border-0 rounded-pill btn-sm p-0 width-3x height-3x flex-center">
                      <i class="bx bxl-github fs-5"></i>
                      <span class="d-none">Bryan Herrera Github</span>
                  </a>
              </div>
              <div class="nav-item ms-1">

                  <a href="https://www.youtube.com/channel/UCpqPMLwkeOwqC_eKJi0tumg" aria-label="GitHub" target="_blank" rel="noreferrer noopener" class="btn btn-outline-light border-0 rounded-pill btn-sm p-0 width-3x height-3x flex-center">
                      <i class="bx bxl-youtube fs-5"></i>
                      <span class="d-none">Bryan Herrera Youtube</span>
                  </a>
              </div>
              <div class="nav-item ms-1">
                  <a href="https://twitter.com/BryanHe52482198" aria-label="Twitter" target="_blank" rel="noreferrer noopener" class="btn btn-outline-light border-0 rounded-pill btn-sm p-0 width-3x height-3x flex-center">
                      <i class="bx bxl-twitter fs-5"></i>
                      <span class="d-none">Bryan Herrera Twiter</span>

                  </a>
              </div>
              <div class="nav-item ms-1">
                  <a href="https://www.linkedin.com/in/bryan-herrera-dev/" aria-label="Linkedin" target="_blank" rel="noreferrer noopener" class="btn btn-outline-light border-0 rounded-pill btn-sm p-0 width-3x height-3x flex-center">
                      <i class="bx bxl-linkedin fs-5"></i>
                      <span class="d-none">Bryan Herrera linkedin</span>

                  </a>
              </div>
              <div class="nav-item ms-1">
                  <a href="https://www.instagram.com/_bryan_herrera_dev_/" aria-label="Instagram" target="_blank" rel="noreferrer noopener" class="btn btn-outline-light border-0 rounded-pill btn-sm p-0 width-3x height-3x flex-center">
                      <i class="bx bxl-instagram fs-5"></i>
                      <span class="d-none">Bryan Herrera Instagram</span>
                  </a>
              </div>
              <div class="nav-item ms-1">
                  <a href="https://codepen.io/Bryanlolry" aria-label="Instagram" target="_blank" rel="noreferrer noopener" class="btn btn-outline-light border-0 rounded-pill btn-sm p-0 width-3x height-3x flex-center">
                      <i class="bx bxl-codepen fs-5"></i>
                      <span class="d-none">Bryan Herrera Codepen</span>
                  </a>
              </div>
          </div>
      </div>
  </nav>
</header>
